<template>
    <li class="dropdown notifications-menu">
        <a href="#"
           class="dropdown-toggle"
           data-toggle="dropdown"
           @click="quantityNew = 0"
        >
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning" v-if="quantityNew">{{ quantityNew }}</span>
        </a>
        <ul class="dropdown-menu">
            <li class="header">{{ messageHeader }}</li>

            <li>
                <ul class="menu">
                    <li v-for="notification in notificationsOrdered">
                        <a href="#">
                            <i class="fa"
                               :class="[ getIcon(notification.icon), getIconColor(notification.iconColor) ]"
                            ></i> {{ notification.message }}
                        </a>
                    </li>
                </ul>
            </li>

            <li class="footer" v-if="askPushNotification">
                <div class="text-center">
                    <label class="checkbox">
                        <input type="checkbox" v-model="pushNotification">
                        {{ transShowNotifications }}
                    </label>
                </div>
            </li>
        </ul>
    </li>
</template>

<script>
    export default {
        props: {
            transShowNotifications: {
                required: true,
                type: String
            },
            transNoNotification: {
                required: true,
                type: String
            },
            transSingularNotifications: {
                required: true,
                type: String
            },
            transPluralNotifications: {
                required: true,
                type: String
            },
            transNotificationTitle: {
                required: true,
                type: String
            }
        },

        data() {
            return {
                notifications: [],
                quantityNew: 0,
                firstLoaded: false,
                listIcons: {
                    default: 'fa-info-circle'
                },
                listIconsColors: {
                    default: 'text-red'
                },
                askPushNotification: false,
                pushNotification: false
            }
        },

        firebase: {
            notificationsRef: firebaseApp.database().ref('hour-control/notifications')
        },

        methods: {
            /**
             * Parse new notifications.
             *
             * @param notifications
             * @returns {*}
             */
            parseNew: function (notifications) {
                notifications = _.values(notifications).reverse();
                let newNotifications = _.differenceBy(notifications, this.notifications, 'timestamp');

                this.quantityNew = newNotifications.length > 0 ? newNotifications.length : 0;

                if (! this.firstLoaded) {
                    this.quantityNew = 0;
                    this.firstLoaded = true;
                }

                if (newNotifications.length == 0) {
                    return this.notifications = [];
                }

                return newNotifications.map((item) => this.translateAndNotify(item));
            },

            /**
             * The notification icon.
             *
             * @param icon
             * @returns {string}
             */
            getIcon: function (icon) {
                return ! this.listIcons[icon] ? this.listIcons.default : this.listIcons[icon];
            },

            /**
             * The notification icon color.
             *
             * @param iconColor
             * @returns {string}
             */
            getIconColor: function (iconColor) {
                return ! this.listIconsColors[iconColor] ? this.listIconsColors.default : this.listIconsColors[iconColor];
            },

            /**
             * Request permission for
             * push notifications.
             */
            requestPermissionPushNotification() {
                if (this.pushNotification && Notification.permission !== "granted") {
                    Notification.requestPermission();
                }
            },

            /**
             * Translate and notify
             * the notification.
             *
             * @param notification
             * @returns {*}
             */
            translateAndNotify: function(notification) {
                let parameters = {
                    id: notification.trans,
                    arguments: notification.arguments || {},
                    language: window.authUser.language
                };

                axios.post('/api/translate', parameters).then((res) => {
                    let data = res.data;

                    if (! data.message) {
                        return false;
                    }

                    notification.message = data.message;
                    this.notifications.unshift(notification);

                    if (this.notifications.length > 4) {
                        this.notifications.pop();
                    }

                    if (this.quantityNew > 0) {
                        this.sendPushNotification(notification);
                    }
                });

                return notification;
            },

            /**
             * Submit a new push notification.
             *
             * @param notification
             * @returns {*}
             */
            sendPushNotification: function(notification) {
                if (! this.askPushNotification || ! this.pushNotification) {
                    return false;
                }

                if (Notification.permission !== "granted") {
                    return Notification.requestPermission();
                }

                return new Notification(this.transNotificationTitle, {
                    body: notification.message
                });
            }
        },

        mounted() {
            this.$firebaseRefs
                .notificationsRef
                .orderByChild('timestamp')
                .limitToLast(4)
                .on('value', (snap) => this.parseNew(snap.val()));

            if (Notification && Storage) {
                this.askPushNotification = true;

                var pushNotification = localStorage.getItem("hourcontrol-pushnotification-enabled");
                this.pushNotification = ! pushNotification ? false : true;

                this.requestPermissionPushNotification();
            }
        },

        watch: {
            /**
             * Watch changes in "pushNotification".
             *
             * @param newValue
             */
            pushNotification: function(newValue) {
                if (! newValue) {
                    return localStorage.removeItem("hourcontrol-pushnotification-enabled");
                }

                this.requestPermissionPushNotification();
                return localStorage.setItem("hourcontrol-pushnotification-enabled", true);
            }
        },

        computed: {
            messageHeader: function() {
                if (! this.notifications || ! this.notifications.length) {
                    return this.transNoNotification;
                }

                let message = this.notifications.length > 1 ? this.transPluralNotifications : this.transSingularNotifications;

                return message.replace("number", this.notifications.length);
            },

            notificationsOrdered: function() {
                return _.orderBy(this.notifications, 'timestamp', 'desc')
            }
        }
    }
</script>