<template>
    <tr v-if="user.show">
        <td>
            {{ name }}
        </td>
        <td>
            <span class="label" :class="{ 'label-success' : user.type == 1, 'label-warning' : user.type == 2 }">
                {{ transType[user.type] }}
            </span>
        </td>
        <td>
            {{ user.day }}
        </td>
        <td>
            {{ user.observation }}
        </td>
    </tr>
</template>
<script>
    export default {
        props: {
            name: {
                required: true,
                type: String
            },
            type: {
                required: true,
                type: Number,
            },
            day: {
                required: true,
                type: String
            },
            observation: {
                required: false,
                type: String,
                default: ''
            },
            id: {
                required: false,
                type: Number,
                default: 0
            },
            transType: {
                required: true,
                type: Object
            }
        },

        firebase: {
            usersHours: firebaseApp.database().ref('hour-control/users/hours')
        },

        data() {
            return {
                usersHourInitiated: false,
                user: {
                    show: false,
                    type: null,
                    day: null,
                    observation: null
                }
            }
        },

        mounted() {
            this.user.type = this.type;
            this.user.day = this.day;
            this.user.observation = this.observation;
            this.user.show = true;

            if (this.id) {
                this.$firebaseRefs
                    .usersHours
                    .child(`user_${this.id}`)
                    .on('value', (snap) => {
                        if (! this.usersHourInitiated) {
                            return this.usersHourInitiated = true;
                        }

                        let values = snap.val();
                        let newItem = values[Object.keys(values).pop()];

                        this.user.type = newItem.type;
                        this.user.day = newItem.day;
                        this.user.observation = newItem.observation;
                    });
            }
        }
    }
</script>